.custom-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
  }
  
  .navbar {
    margin: 0;
    width: 100%;
  }
  
  .navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    color: #000;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  .navbar .navbar-brand {
    color: #000;
  }
  
  .navbar .navbar-brand:hover {
    color: #007bff;
  }
  